

@media only screen and (max-width: 1050px) {

   .custom-sales-row:last-of-type {
      margin-top: 135px;
   }
   .top-sales-header {
      display: flex;
      margin: 0 auto;
   }
}








@media only screen and (max-width: 768px) {
   .custom-ul {
    align-items: center;
    justify-content: center;
   } 

   .custom-ul li {
    margin-bottom: 19px;
   }

   .custom-social {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .custom-indicators {
      display: Flex;
      margin: 100px auto;
   }

   .custom-carousel-title {
      font-size: 2rem;
   }
   .custom-description {
      font-size: 1.2rem;
      width: 100%;
   }

   .info-shop {
      margin-top: 30px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .custom-sales-row:nth-child(3) {
      margin-top: 140px;
   }

   .custom-sales-row:nth-child(1) {
      margin-bottom: 140px;
   }
   
}
