
@media only screen and (min-width: 630px) {

   .custom-indicators {
      margin-top: 50px;
   }
}


@media only screen and (max-width: 600px) {
   .custom-ul {
    align-items: center;
    justify-content: center;
   } 

   .custom-ul li {
    margin-bottom: 19px;
   }

   .custom-social {
    display: flex;
    justify-content: center;
    align-items: center;
   }

   .custom-indicators {
      display: Flex;
      margin: 100px auto;
   }

   .custom-carousel-title {
      font-size: 2rem;
   }
   .custom-description {
      font-size: 1.2rem;
      width: 100%;
   }
}